section{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
#carouselExampleIndicators{
    background-image: url(imagess/bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8%;
}
.buy-now{
    background-color: black;
    color:#fff;
    width: 10px 20px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}
.al{
    
    margin-bottom: 30px;
    margin-top: 60px;
}
.next-down{
    margin-top: 30px;
    color: goldenrod;
}
.illu img{
    width: 100%;
}
.mif .first img{
   
    box-shadow: 10px solid black;
}

